<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <div class="grid">
    <h2>Welcome to my site</h2>
        <div class="icontainer">
        <form>
            Enter name : <input>
        </form>
    </div>
    </div>
    <style>
        .grid{
            display: grid;
            grid-template-columns: 1fr 500px 1fr;
        }
        .fcontainer{
            display: flex;
            border: 2px solid black;
            justify-content: space-evenly;
            align-items: center;
            height: 90vh;
            background-color:blueviolet
        }
        .icontainer{
            border: 2px solid black;
        }
        .body{
            background-color:brown;
        }
    </style>
</body>
</html>