{% extends 'base.html' %}
  {% block content %}
  <div class="container">
    <div class="form">
      <h3>Rock Paper Scissor</h3>
  <form method=POST>{% csrf_token %}
        <select name=player class="drop">
        <option name="ro">Rock</oprion>
        <option name="paper">Paper</oprion>
        <option name="scissor">Scissor</oprion>
        </select><br>
        <input type="submit" class="btn-l">
    </form>
        
    </div>
    {%  for message in messages %}
      <h1> {{message}} </h1>
    {% endfor %}
  </div>      

<style>
body{
  background-color: dodgerblue;
}
.container{
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form{
  background-color: slateblue;
  padding: 25px;
  margin: 2px;
}
.drop,.btn-l{
  background-color:white;
  height: 50px;
  width: 200px;
  margin: 20px;
}
.btn-l{
  color:black;
  background-color: greenyellow;
}
</style>
{% endblock %}